@import "../../variables";

.list__container {
  min-width: 40vw;
  display: flex;
  flex-direction: column;
}

.mat-elevation-z8 {
  box-shadow: none;
}

table {
  width: 100%;
}

th[mat-header-cell] {
  background-color: $advanced-color;
}

td[mat-cell] {
  padding: 0 0.1rem;
}

mat-paginator {
  background-color: $advanced-color;
}

.mat-sort-header-stem {
  color: $text-advanced-color;
}

.user__img {
  max-height: 2rem;
  max-width: 2rem;
  border-radius: 4px;
}
