@import "../../variables";

.table {
  &__container {
    display: flex;
    flex-direction: column;
  }

  &__tools--container {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 24px 0 0;
  }

  &__search {
    width: 100%;
  }

  &__add-user {
    margin: 0.5rem 0 1.25rem 1rem;
  }

  &__controls-container {
    display: flex;
    justify-content: flex-end;

    button {
      margin-left: 1rem;
    }
  }
}

.mat-elevation-z8 {
  box-shadow: none;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

table {
  width: 100%;
}

tr {
  &:hover {
    cursor: pointer;
    background-color: rgba(211, 211, 211, 0.336);
  }
}

td[mat-cell] {
  padding: 0 0.1rem;
}

.mat-sort-header-stem {
  color: $text-advanced-color;
}

.user__img {
  max-height: 2rem;
  max-width: 2rem;
  border-radius: 4px;
}
