@import "../variables.scss";

.nav {
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
}

.nav-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;

  li {
    padding: 1em;
    border: 2px solid transparent;

    &:hover {
      cursor: pointer;
      color: $base-color;
    }
  }
}

a {
  color: $text-base-color;
  text-decoration-line: none;
  &:visited {
    color: $text-base-color;
  }
}

.nav__active {
  color: $base-color;
  border-bottom: 2px solid $base-color;
  &:visited {
    color: $base-color;
  }
}

.logout {
  color: $warning-color;
}

.profile_img_small {
  max-height: 2rem;
}
