<div class="user-fields__container" [formGroup]="userForm">
  <img src="{{ profileImgURL }}" height="200" class="profile-img" />
  <label for="raised-button-file" class="choose-file__lable"
    >Set Profile Image</label
  >
  <input
    (change)="setProfileImg($event)"
    type="file"
    id="raised-button-file"
    class="choose-file__input"
    accept="image/*"
  />
  <mat-form-field>
    <input matInput formControlName="name" placeholder="Name" maxlength="30" />
    <mat-error *ngIf="userControls.name.invalid">{{
      getErrorMessage("name")
    }}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      formControlName="surname"
      placeholder="Surname"
      maxlength="30"
    />
    <mat-error *ngIf="userControls.surname.invalid">{{
      getErrorMessage("surname")
    }}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      formControlName="email"
      placeholder="Email"
      maxlength="30"
    />
    <mat-error *ngIf="userControls.email.invalid">{{
      getErrorMessage("email")
    }}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      maxlength="30"
      formControlName="password"
      placeholder="Password"
      [type]="hide ? 'password' : 'text'"
    />
    <button
      matSuffix
      mat-icon-button
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
    <mat-error *ngIf="userControls.password.invalid">{{
      getErrorMessage("password")
    }}</mat-error>
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    (click)="addUser()"
    [disabled]="userForm.invalid"
  >
    Confirm
  </button>
</div>
