@import "~../_variables";
@import "~../mixins";

.login__container {
  @include flex(column);
}

.invalid-login-message {
  color: $warning-color;
  font-weight: 500;
  font-size: 1.1em;
}

h1 {
  color: $base-color;
}

section {
  @include flex(column, $align: center);
}
