@import "../_variables.scss";

.login__container {
  display: flex;
  flex-direction: column;
}

.invalid-login-message {
  color: $warning-color;
  font-weight: 500;
  font-size: 1.1em;
}

h1 {
  color: $base-color;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
