$base-color: rgba(28, 153, 99, 1);
$advanced-color: lightcyan;
$hover-color: rgba(211, 211, 211, 0.336);

$warning-color: darkred;

$text-base-color: black;
$text-advanced-color: white;

$layer-base-color: white;
$layer-backgroud-color: linear-gradient(-225deg, #d7fffe 0%, #c3f7f6 100%);
