@import "~../variables";
@import "~../mixins";

h2 {
  font-weight: 500;
  color: $warning-color;
  margin-bottom: 0.5rem;
}

p {
  text-align: center;
}

a {
  color: $base-color;
  text-decoration: none;

  &:visited {
    color: $base-color;
  }

  &:hover {
    text-decoration: underline;
  }
}

section {
  @include flex(column, $align: center);
}
