// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$user-management-app-primary: mat-palette($mat-indigo);
$user-management-app-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$user-management-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$user-management-app-theme: mat-light-theme(
  $user-management-app-primary,
  $user-management-app-accent,
  $user-management-app-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($user-management-app-theme);

@import "~normalize.css";

ul {
  padding-left: 0;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient(-225deg, #fffeff 0%, #d7fffe 100%);
}

header {
  position: fixed;
  z-index: 3333;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}

main {
  display: flex;
  justify-content: center;
  margin-top: 3.5em;
  min-height: 92vh;
}

footer {
  box-shadow: 0 -4px 12px 0 rgba(0, 0, 0, 0.05);
  background-color: white;
}
